#footer{
    /* background-image: url("https://t4.ftcdn.net/jpg/03/88/10/67/360_F_388106784_pdvyrCGVIPf5kCvWtXR1aU6QL2asH4vw.jpg"); */
    height: 60vh;
    margin: -10px;
    margin-top: 15vh;
    width: 102vw;
    background-color: black;
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
}
#footer>.div1{
    margin: 15vh 0 0 5vw;
    flex: 1;
}
#footer>.div1>h1{
    color: gold;
    margin-bottom: 15px;
}
#footer>.div1>h3{
    margin-bottom: 30px;
}
#footer>.div2{
    margin: 15vh 0 0 5vw;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>.div2>a:nth-of-type(1)::before{
    content: url(Images/Github.svg);
    vertical-align: middle;
    margin-right: 5px;
    transform: 0.3s;
}
#footer>.div2>a:nth-of-type(1)::before:hover{
    /* background-color: gold; */
    content: url(Images/Gold\ LinkedIn.svg);
}
#footer>.div2>*{
    margin-bottom: 15px;
}
#footer>.div2>a:nth-of-type(2)::before{
    content: url(Images/LinkedIn.svg);
    vertical-align: middle;
}
#footer>.div2>a{
    transition: 0.3s;
}
#footer>.div2>a:hover{
    color: goldenrod;
}