html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color: goldenrod;
}
body{
    /* padding-bottom: 50px; */
    background-color: rgb(53, 51, 51);
    padding-top: 52px;
    padding-left: 10px;
    color: burlywood;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 200;
}
*::selection{
    background-color: teal;
}
nav{
    padding: 5px;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid black; */
    /* color: burlywood; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(33, 33, 33, 0.94);
    z-index: 2;
    /* vertical-align: top; */
}
nav input[type="search"]{
    /* max-width: 30vw; */
    height: 36px;
    width: 100%;
    min-width: 15vw;
    text-align: center;
    background-color: rgb(33, 33, 33);
    border: 1px solid burlywood;
    border-radius: 8px;
    color: burlywood;
    transition: 0.25s;
}
nav input[type="search"]:focus{
    outline: none;
    background-color: rgb(36, 36, 36);
    border: 2px solid gold;
}
nav>input::placeholder{
    text-align: center;
}
nav>div:nth-of-type(2){
    /* width: 14vw; */
    flex: 0.38;
}
nav>div:nth-of-type(2)>a:nth-of-type(2)>button{
    margin-left: 10px;
}
nav>*{
    flex: 1;
    /* border: 1px solid red; */
    /* vertical-align: top; */
}
.sign{
    /* padding: 3px; */
    /* width: 43%; */
    width: 5vw;
    height: 36px;
    transition: 0.3s;
    border-radius: 14px;
    border: none;
    background-color: gold;
}
.sign:hover{
    cursor: pointer;
    /* height: 40px; */
    /* width: 48%; */
    width: 6vw;
    background-image: linear-gradient(to left, yellow,gold, goldenrod);
}
.sign:active{
    background-color:goldenrod;
}
a{
    text-decoration: none;
    color: burlywood;
    transition: 0.17s;
}
nav a:hover{
    cursor: pointer;
    text-decoration: underline;
    /* color: turquoise; */
}
nav>div:nth-of-type(1){
    display: flex;
    flex-direction: row ;
}
nav>div:nth-of-type(1)>*{
    flex: 1;
    padding-top: 7px;
}
nav>a:nth-of-type(1):hover{
    text-decoration: none;
}
nav>a:nth-of-type(1){
    flex: 0.5;
}
nav>a>h1{
    color: gold;
    transition: 0.3s;
    padding-top: 2%;
}
nav>a>h1:hover{
    color: yellow;
}
select{
    border: none;
    color: burlywood;
    background-color: rgb(33, 33, 33);
}
select:hover{
    cursor: pointer;
}