.container{
    display: flex;
    gap: 8px;
    margin-bottom: 5vh;
}
.container *{
    flex: 1;
    margin: 5px;
}
.container img{
    height: 100%;
}
.topic>h2{
    padding: 2vh 0 1.5vh 3vh;
    color: yellow;
}
.container div{
    display: grid;
    grid-template-rows: 270px 1fr 3fr;
    width: 215px;
    transition: 0.6s;
    height: 481px;
    justify-items: center;
    /* gap: 5px; */
}
.container div:hover{
    cursor: pointer;
    width: 320px;
}
.container h3{
    text-align: center;
    margin-top: 3vh;
}
.container p{
    text-align: center;
}