body{
    background-color: rgb(41, 39, 39);
    line-height: 1.5rem;
}
section:nth-of-type(1){
    margin-top: 2vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 7vh;
    height: 40vh;
    padding: 0 10px 0 0;
}
section:nth-of-type(1){
    margin-bottom: 100px;
}
section img, section div{
    height: 40vh;
}
section h1,section h2{
    color: gold;
    margin-bottom: 10px;
}
section h3{
    margin-bottom: 10px;
}
section>div:nth-last-of-type(2){
    height: 100%;
}
.trailer-heading{
    margin: auto;
}
section h2{
    margin-bottom: 3vh;
}
section p>span{
    font-style: italic;
    font-weight: bold;
    color: rgb(224, 222, 70);
}
section>div:nth-of-type(2)>p{
    line-height: 1.7rem;
    font-size: 1.1rem;
}
section>div:nth-of-type(2)>h3{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}